/* обнулення стилів */
@import url("reset.css");


/* Основні Стилі */

/* Селектор - запит ( пошуку) елемента B HTML файлі до якого підключенний данний css Файл */
/* 
Селектор{
css параметр;
css параметр;
css параметр;
}
*/
/* css параметр; css властивість: значення цієї властивості; */
/* 
Приклад:
color: red; (Де color це css властивість, red- це значення цієї властивості
 */
 /* 
 Селектор зірочка*
 */

 /* p{
    color: green;
 } */
  /* h2{
    color: red;
  } */
   /* 
   Тип №2. Селектор класу (!!! Основний наш селектор) Шукаємо, звертаємось ( робимо запит) по назві класу
   */
   /* .tite{
    color: blue;
   } */
    /* #section{
        color: red;
    } */
     /* 
     Селектор атрибутів
     Шукаємо сполучення літер te в атрибутах class

[class*="te"]{

}

     */
     /* Комбінпції Селекторів */
     /* div.text{
        color: blueviolet;
     } */
/* Звернення до кількох сласів */

/* div,
 .text, .tite{
background-color: blue;
} */

/* Каскадність (Вкладеність) Селекторів.
Обов*язково пробіл між елементами
Звертаємось до Усіх тегів Н1 на сторінці Але лише тих фкі знаходяться в середині будь-якого об*єкту з класом article
*/
.article h1{
    color: green;
}

/* Спеціальні символи */
/* .article > p{
color: green;
}
.article ~ p{
    color: green;
}

.article + p{
    color: green;
} */
 header > a {
    color: blue;
 }
p > span{
    color: red;
}
footer ~ a {
    color: blue;
}
